
<form action="#" id="formAddUser" method="">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" name="name" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter your email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Add user</button>
    </div>

</form>

<script>
    $('#formAddUser').submit(function(){
        formData = $('#formAddUser').serialize();
        $.ajax({
            url:'usersave',
            type:'post',
            data: formData,
            success:function() {
                $('#closeModalAdd').click();
            }
        });
        return false;
    });
</script>